    <!-- Sección #te-ayudamos -->
    <section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax
    data-speed="0.6">
    <picture class="jarallax-img">
        <source media="(min-width:1200px)" srcset="assets/images/fondo-descargar-app-xl.jpg">
        <source media="(min-width:768px)" srcset="assets/images/fondo-descargar-app-md.jpg">
        <img srcset="assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
    </picture>

    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <h2 class="display-4 font-weight-bold">LOGIN</h2>
                <!--<p>Elija una contraseña nueva y segura para su cuenta.</p>-->
                <!--<a href="#" class="btn btn-primary">Reservar una cita</a>-->
            </div>
        </div>
    </div>
</section>




<!-- Seccion #premios -->
<section id="premios" class="py-5 text-center">
    <div class="container py-5">
        <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <form action="" class="border rounded bg-light p-3 mt-3">
                <!--<h2 class="text-center">Ingrese el nombre de usuario asociado a su cuenta.</h2>-->

                <div class="form-group text-left">
                    <label for="nombre">Ingrese su contraseña:</label>

                    <input type="text" class="form-control " name="nombre" id="nombre" placeholder=""
                        aria-describedby="ayuda-nombre">
                    <!--<small id="ayuda-nombre" class="form-text text-muted">Ingrese su USUARIO</small>-->
                </div>
                
                <div class="form-group text-left">
                    <label for="nombre">Ingrese su contraseña:</label>

                    <input type="password" class="form-control " name="nombre" id="nombre" placeholder=""
                        aria-describedby="ayuda-nombre">
                    <!--<small id="ayuda-nombre" class="form-text text-muted">Ingrese su CONTRASEÑA</small>-->
                </div>
                <p><a href="#">Nuevo usuario</a></p>
                <p><a href="#">¿Olvideo la contraseña?</a></p>


               <!-- <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" name="password" id="password" aria-describedby="ayuda-password">
                    <small id="ayuda-password" class="form-text text-muted">
                        Su contraseña debe contener entre 8-20 caracteres.</small>
                </div>-->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>

            </form>
        </div>
    </div> 

    </div>
</section>

