    <!-- Sección #te-ayudamos -->
	 <section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax
        data-speed="0.6">
        <picture class="jarallax-img">
            <source media="(min-width:1200px)" srcset="/assets/images/fondo-descargar-app-xl.jpg">
            <source media="(min-width:768px)" srcset="/assets/images/fondo-descargar-app-md.jpg">
            <img srcset="/assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
        </picture>

        <div class="container">
            <div class="row py-5">
                <div class="col-12">
                    <h2 class="display-4 font-weight-bold">HISTORIAL DE ATENCIÓN</h2>
                    <!--<p>Tienes todo lo que necesitas con más de nuestras 30 especialidades</p>
                    <a href="#" class="btn btn-primary">Reservar una cita</a>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion #premios -->
	<section id="premios" class="py-5 text-center">
        <div class="container py-5">
			<div class="col-12">
				<div class="row">
					<table class="table">
					  <!--<thead>
						<tr>
						  <th>#</th>
						  <th>First Name</th>
						  <th>Last Name</th>
						</tr>
					  </thead>-->
					  <tbody>
						<tr>
						  <!--<th scope="row">1</th>-->
							<td><!--Solicitud-->
								<label>N° Atención:</label>
								<input type="text" class="form-control" name="text" id="text"
										placeholder="xxxxxxxxxxx" data-parsley-required data-parsley-type="text"
										data-parsley-required-message="Este campo no puede estar vacio."
										data-parsley-type-message="Ingrese un text en un formato válido.">
							</td>
							<td><!--Fecha-->
								<label>Fecha:</label>
								<input type="text" class="form-control" name="text" id="text"
										placeholder="DD-MM-YYYY" data-parsley-required data-parsley-type="text"
										data-parsley-required-message="Este campo no puede estar vacio."
										data-parsley-type-message="Ingrese un text en un formato válido.">
							</td>
						  	<td><!--Sede-->
								<label>Sede:</label>
								<select class="form-select" aria-label="Default select example">
								  <option selected>Seleccionar</option>
								  <option value="1">Tezza - Surco</option>
								  <option value="2"></option>
								  <option value="3"></option>
							 	</select>
						 	</td>					
							<td><!--Médico-->
								<label>Médico:</label>
								<select class="form-select" aria-label="Default select example">						
						  			<option selected>Seleccionar</option>
						  			<option value="1">Dr. Luis Deza</option>
						  			<option value="2">Dra. Anna Preciado</option>
						  			<option value="3">Dra. Sofia Preciado</option>
								</select>
							</td>
							<td>Mostrar PDF</td>
						</tr>
						<tr>
							<td>A-0321115015</td>
							<td>15-06-2020</td>
							<td>TEZZA - SURCO</td>
							<td>Dr. Luis Deza</td>
							<td><a href="#"><img src="/assets/images/img_PDF.jpg" alt="" width="35px"></a></td>
						</tr>
						<tr>
							<td>A-0321545272</td>
							<td>18-07-2020</td>
							<td>TEZZA - SURCO</td>
							<td>Dra. Anna Preciado</td>
							<td><a href="#"><img src="/assets/images/img_PDF.jpg" alt="" width="35px"></a></td>
						</tr>	  
					    <tr>
							<td>A-0254245352</td>
							<td>11-01-2021</td>
							<td>TEZZA - SURCO</td>
							<td>Dra. Sofia Preciado</td>
							<td><a href="#"><img src="/assets/images/img_PDF.jpg" alt="" width="35px"></a></td>
						</tr>
					</tbody>
					</table>
				</div>			
            </div>
			<!--<a href="#" class="btn btn-primary mt-3">Confirmar</a>
			<a href="#" class="btn btn-primary mt-3">Cancelar</a><p></p>-->
        </div>
    </section>