<!-- Sección #te-ayudamos -->
<section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax
data-speed="0.6">
<picture class="jarallax-img">
    <source media="(min-width:1200px)" srcset="/assets/images/fondo-BG_Especialidades-app-xl.jpg">
    <source media="(min-width:768px)" srcset="/assets/images/fondo-descargar-app-md.jpg">
    <img srcset="/assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
</picture>

<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <h2 class="display-4 font-weight-bold">ESPECIALIDADES</h2>
            <p>Contamos con un Staff Médico conformado por médicos especialistas y generales, de sólida experiencia y alta capacidad resolutiva, que nos permitirá brindarles una atención con la calidad y calidez que nos caracteriza.</p>
            <!--<a href="#" class="btn btn-primary">Reservar una cita</a>-->
        </div>
    </div>
</div>
</section>




<!-- Seccion #premios -->
<section id="bienvenidos" class="py-5">

<div class="container">
    <div class="row">
        <!--<div class="col-12 col-lg-6 text-center">

            <div class="contenedor-video d-inline-block position-relative text-truncate">

                <img src="images/fondo-video.jpg" alt="Imagen del video promocional del Sitio"
                    class="img-fluid">
                <a href="https://www.youtube.com/watch?v=XbjaxQy08m0" class="venobox-video" data-vbtype="video"
                    title="Bienvenidos a nuestro sitio web."><i class="fas fa-play"></i></a>

            </div>

        </div>-->
        
        <div class="col-12 text-left text-lg-left">
            <!--<h2 class="display-4 font-weight-bold text-secondary  mt-lg-n2">
                BIENVENIDOS A TU <span class="text-primary">CLINICA TEZZA.</span>
            </h2>-->
            <!--<h6 class="text-black-50">SOMOS PARTE DE TÍ</h6>-->
            <div class="row">
                <div class="col">
                    <h4><strong>Consulta médica</strong></h4>
                  <ul>
                      <li>Alergología</li>
                      <li>Cardiología</li>
                      <li>Dermatología</li>
                      <li>Ecografía</li>
                      <li>Endocrinología</li>
                      <li>Gastroenterología</li>
                      <li>Geriatría</li>
                      <li>Ginecología Oncológica</li>
                      <li>Ginecología y Obstetricia</li>
                      <li>Hematología</li>
                      <li>Mastología</li>
                      <li>Medicina Física y Rehabilitación</li>
                      <li>Medicina General</li>
                      <li>Medicina Interna</li>
                      <li>Nefrología</li>
                      <li>Neumología</li>
                      <li>Neurología</li>
                      <li>Nutrición</li>
                      <li>Odontología Infantil u Odontopediatría</li>
                      <li>Odontología Integral</li>
                      <li>Odontología. Endodoncia</li>
                      <li>Odontología. Ortodoncia y Ortopedia</li>
                      <li>Odontología. Periodoncia e Implantología</li>
                      <li>Odontología. Rehabilitación Oral</li>
                      <li>Oftalmología</li>
                      <li>Otorrinolaringología</li>
                      <li>Pediatría</li>
                      <li>Radiología</li>
                      <li>Reumatologia</li>
                      <li>Traumatologia y Ortopedia</li>
                      <li>Urología</li>
                  </ul>
                </div>
                
                <div class="col">
                  <h4><strong>Cirujía</strong></h4>
                    <ul>
                        <li>Cirugía de Cabeza y Cuello</li>
                        <li>Cirugía de Torax y Cardiovascular</li>
                        <li>Cirugía General y Laparoscópica</li>
                        <li>Cirugía Oncológica</li>
                        <li>Cirugía Pediátrica</li>
                        <li>Neurocirugía</li>
                        <li>Odontología</li>
                        <li>Cirugía Maxilo Facial</li>
                    </ul>
                </div>
                
              <div class="col">
                  <h4><strong>Salud Mental</strong></h4>
                  <ul>
                      <li>Psicología Adulto</li>
                      <li>Psicología niño</li>
                  </ul>
              </div>
          </div>
            
            
        </div>				
        
    </div>
    
    

    
    
</div>
</section>






<!-- Sección Mas de 200 profesionales -->
<section id="nuestra-app" class="bg-secondary py-5 text-white text-center text-md-left jarallax" data-jarallax
data-speed="0.6">
<picture class="jarallax-img">
    <source media="(min-width:1200px)" srcset="/assets/images/fondo-laClinica1-app-xl.jpg">
    <source media="(min-width:768px)" srcset="/assets/images/fondo-descargar-app-md.jpg">
    <img srcset="/assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
</picture>

<div class="container">
    <div class="row justify-content-md-end">
        <div class="col-12">                  
          <h2 class="h1 font-weight-bold misEstilos">«Estén siempre dispuestas a hacer cualquier sacrificio por amor al enfermo». </h2>
        </div>
    </div>
</div>
</section>
