<!-- Sección #te-ayudamos -->
<section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax
data-speed="0.6">
<picture class="jarallax-img">
    <source media="(min-width:1200px)" srcset="images/fondo-descargar-app-xl.jpg">
    <source media="(min-width:768px)" srcset="images/fondo-descargar-app-md.jpg">
    <img srcset="images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
</picture>

<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <h2 class="display-4 font-weight-bold">COMPROBANTE ELETRÓNICO</h2>
            <!--<p>A continuación, ingrese sus datos</p>-->
            <!--<a href="#" class="btn btn-primary">Reservar una cita</a>-->
        </div>
    </div>
</div>
</section>




<!-- Seccion #Trabaja con nosotros-->
<div class="container">
    <div class="row py-5">
        
        <!--COLUMNA 1-->
        <div class="col-12 col-lg-6">
            <h2 class="font-weight-bold text-center mb-2">Detalles del comprobante:</h2>

            <ul class="list-unstyled">

                <li class="d-flex border-bottom py-4">
                    <!--<i class="fas fa-globe fa-3x text-primary mr-4 fa-fw"></i>-->
                    <div>
                        <h5 class="font-weight-bold">Documento</h5>
                        <p class="mb-0">B307-25955</p>
                    </div>
              </li>

                <li class="d-flex border-bottom py-4">
                    <!--<i class="fas fa-mobile-alt fa-3x text-warning mr-4 fa-fw"></i>-->
                    <div>
                        <h5 class="font-weight-bold">Fecha de Emisión:</h5>
                        <p class="mb-0">19/12/2018</p>
                    </div>
                </li>
                <li class="d-flex border-bottom py-4">
                    <!--<i class="fas fa-envelope-open fa-3x text-danger mr-4 fa-fw"></i>-->
                    <div>
                        <h5 class="font-weight-bold">Importe Total:</h5>
                        <p class="mb-0">2.70</p>
                    </div>
                </li>
                <!--<li class="d-flex border-bottom py-4">
                    <i class="fab fa-skype fa-3x text-info mr-4 fa-fw"></i>
                    <div>
                        <h5 class="font-weight-bold">Skype:</h5>
                        <p class="mb-0">SonrisasOnline</p>
                    </div>
                </li>-->

          </ul>

        </div>
        
        
        <!--COLUMNA 2-->
      <div class="col-12 col-lg-6 pt-4 pt-lg-0">
            
            <form action="#" id="mi-formulario">

                
                <!--N° Boleta-->
                <div class="form-group form-row">
                    <label for="celular" class="col-form-label col-12 col-md-3">Comprobante:</label>
                    
                    <div class="col-12 col-md-9">
                        <select class="form-select" aria-label="Default select example">						
                          <option selected>Seleccionar</option>
                          <option value="1">Boleta</option>
                          <option value="2">Factura</option>
                          
                        </select>
                    </div>
                </div>
                
                
                <!-- Número de comprobante -->
                <div class="form-group form-row">
                    <label for="nombre" class="col-form-label col-12 col-md-3">Nro. Comprobante:</label>
                    <div class="col-12 col-md-9">
                        <input type="text" class="form-control" name="nombre" id="nombre"
                            placeholder="(Ej. B099-08999)" data-parsley-required
                            data-parsley-required-message="Este campo no puede estar vacio.">
                    </div>
                </div>
                
                
                
                
               <!--
                 Monto total 
                <div class="form-group form-row">
                    <label for="email" class="col-form-label col-12 col-md-3">Monto Total:</label>
                    <div class="col-12 col-md-9">
                        <input type="email" class="form-control" name="email" id="email"
                            placeholder="S/ (Ej 999.99)" data-parsley-required data-parsley-type="email"
                            data-parsley-required-message="Este campo no puede estar vacio."
                            data-parsley-type-message="Ingrese un email en un formato válido.">
                    </div>
                </div>
                 
                
                 Campo #edad 
                <div class="form-group form-row">
                    <label for="email" class="col-form-label col-12 col-md-3">Edad:</label>
                    <div class="col-12 col-md-9">
                        <input type="email" class="form-control" name="email" id="email"
                            placeholder="Ingrese su edad" data-parsley-required data-parsley-type="email"
                            data-parsley-required-message="Este campo no puede estar vacio."
                            data-parsley-type-message="Ingrese un email en un formato válido.">
                    </div>
                </div>
                -->

                
                                
                
                <!-- Campo Enviar -->
                <div class="form-group form-row">
                    <div class="col-12 col-md-9 offset-md-3">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Ver mi comprobante</button>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Descargar PDF</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
