<!-- Sección #te-ayudamos -->
<section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax
data-speed="0.6">
<picture class="jarallax-img">
    <source media="(min-width:1200px)" srcset="assets/images/fondo-descargar-app-xl.jpg">
    <source media="(min-width:768px)" srcset="assets/images/fondo-descargar-app-md.jpg">
    <img srcset="assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
</picture>

<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <h2 class="display-4 font-weight-bold">AGENDAR CITA MEDICA</h2>
            <!--<p>A continuación, ingrese sus datos</p>-->
            <!--<a href="#" class="btn btn-primary">Reservar una cita</a>-->
        </div>
    </div>
</div>
</section>


<!-- Seccion #Filtros de Cita-->
<div class="container">
    <div class="row py-5">        
        <!--COLUMNA 1-->
      <div class="col-12 col-lg-6 pt-4 pt-lg-0 col-xl-5">            
            <form action="#" id="mi-formulario">                
                <!--N° Sede-->
                <div class="form-group form-row">
                    <label for="sede" class="col-form-label col-12 col-md-3">Sede:</label>                    
                    <div class="col-12 col-md-9">
                        <select class="form-select" aria-label="Default select example">						
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                
                
                <!--Tipo de atención-->
                <div class="form-group form-row">
                    <label for="tipoatencion" class="col-form-label col-12 col-md-3">Tipo de atención:</label>
                    
                    <div class="col-12 col-md-9">
                        <select class="form-select" aria-label="Default select example">						
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                
                
                
                <!--Especialidad-->
                <div class="form-group form-row">
                    <label for="especialidad" class="col-form-label col-12 col-md-3">Especialidad:</label>
                    
                    <div class="col-12 col-md-9">
                        <select class="form-select" aria-label="Default select example">						
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                
                
                
                
                <!--Médico-->
                <div class="form-group form-row">
                    <label for="medico" class="col-form-label col-12 col-md-3">Médico:</label>
                    
                    <div class="col-12 col-md-9">
                        <select class="form-select" aria-label="Default select example">						
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                

                
                                
                
                <!-- Campo Enviar -->
                <div class="form-group form-row">
                    <div class="col-12 col-md-9 offset-md-3">
                        <a href="#" class="btn btn-primary mt-3">Confirmar</a>
                        <a href="#" class="btn btn-primary mt-3">Limpiar</a>
                        <!--<button type="submit" class="btn btn-primary btn-block btn-lg">Confirmar</button>-->
                        <!--<button type="submit" class="btn btn-primary btn-block btn-lg">Cancelar</button>-->
                    </div>
                </div>
            </form>
        </div>                            
        <!--COLUMNA 2-->
        <div class="col-12 col-lg-6">
            <!--<h2 class="font-weight-bold text-center mb-2">Detalles del comprobante:</h2>-->

            <table class="table">
              <thead>
                <tr>
                      <th>Hora</th>
                      <th>Lunes</th>
                      <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                </tr>
              </thead>
                
              <tbody>
                <tr>
                    <th scope="row">8:00 - 8:30</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                  
                <tr>
                    <th scope="row">8:30 - 9:00</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                  
                  <tr>
                    <th scope="row">x:xx - x:xx</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                  
                  <tr>
                    <th scope="row">x:xx - x:xx</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                  
                  <tr>
                    <th scope="row">16:00 - 16:30</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
              </tbody>
            </table>


        </div>
    </div>
</div>

