    <!-- Sección #te-ayudamos -->
    <section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax
    data-speed="0.6">
    <picture class="jarallax-img">
        <source media="(min-width:1200px)" srcset="assets/images/fondo-descargar-app-xl.jpg">
        <source media="(min-width:768px)" srcset="assets/images/fondo-descargar-app-md.jpg">
        <img srcset="assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
    </picture>

    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <h2 class="display-4 font-weight-bold">CITAS RESERVADAS</h2>
                <!--<p>Tienes todo lo que necesitas con más de nuestras 30 especialidades</p>
                <a href="#" class="btn btn-primary">Reservar una cita</a>-->
            </div>
        </div>
    </div>
</section>


<!--<section id="te-ayudamos" class="bg-secondary text-white text-center py-5 jarallax" data-jarallax data-speed="0.7">
    <picture class="jarallax-img">
        <source media="(min-width:1200px)" srcset="images/fondo-te-ayudamos-xl.jpg">
        <source media="(min-width:768px)" srcset="images/fondo-te-ayudamos-md.jpg">
        <img srcset="images/fondo-te-ayudamos.jpg" alt="Fondo como podemos ayudarte" class="w-100">
    </picture>

    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <h2 class="display-4 font-weight-bold">¿CÓMO PODEMOS AYUDARTE?</h2>
                <p>Ofrecemos una amplia gama de procedimientos para ayudarlo a obtener la sonrisa perfecta.</p>
                <a href="#" class="btn btn-primary">Reservar una cita</a>
            </div>
        </div>
    </div>
</section>-->


<!-- Seccion #premios -->

<section id="premios" class="py-5 text-right">

    <div class="container py-5">
        <a href="#" class="btn btn-primary mt-3">Reprogramar</a>
        <a href="#" class="btn btn-primary mt-3">Cancelar</a><p></p>
        <!--<h2 class="display-4 font-weight-bold text-secondary">NUESTRA CLÍNICA EN NÚMEROS</h2>
        <h6 class="text-black-50">TENEMOS ALGUNOS NÚMEROS QUE MOSTRARTE.</h6>-->

        <table class="table text-center">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                    <th>Especialidad</th>
                    <th>Médico</th>
                    <th>Sede</th>
                    <th>Tipo de atención</th>
                </tr>
              </thead>
            
                  <tbody>
                <tr>
                      <th scope="row">1</th>
                      <td>30/10/21</td>
                      <td>05:30 p.m</td>
                    <td>Dermatología</td>
                    <td>Pepe</td>
                    <td>Surco</td>
                    <td>Presencial</td>
                </tr>
                  
                </tbody>
        </table>

    </div>
</section>

