<section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax data-speed="0.6">
    <picture class="jarallax-img">
        <source media="(min-width:1200px)" srcset="assets/images/fondo-descargar-app-xl.jpg">
        <source media="(min-width:768px)" srcset="assets/images/fondo-descargar-app-md.jpg">
        <img srcset="images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
    </picture>

    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <h2 class="display-4 font-weight-bold">¿Olvidaste la contraseña?</h2>
                <p>No pasa nada, introduce tu correo electrónico para restablecerla.</p>
            </div>
        </div>
    </div>
</section>

<!-- Seccion #premios -->
<section id="premios" class="py-5 text-center">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <form [formGroup]= "forgotPasswordForm" method="post" class="border rounded bg-light p-3 mt-3">
                    <div class="form-group text-left">
                        <label for="nombre">Ingrese su DNI:</label>

                        <input type="text" class="form-control" formControlName="DocumentoIdentidad" autocomplete="off">
                        <!--<small id="ayuda-nombre" class="form-text text-muted">Ingrese su USUARIO</small>-->
                    </div>

                    <div class="form-group text-left">
                        <label for="nombre">Ingrese su correo electrónico:</label>

                        <input type="text" class="form-control" formControlName="TxCorreo" autocomplete="off">
                        <!--<small id="ayuda-nombre" class="form-text text-muted">Ingrese su USUARIO</small>-->
                    </div>

                    <div class="form-group text-left">
                        <label for="nombre">Ingrese su contraseña:</label>

                        <input type="password" class="form-control" formControlName="PasswordUsuario" autocomplete="off">
                        <!--<small id="ayuda-nombre" class="form-text text-muted">Ingrese su USUARIO</small>-->
                    </div>

                    <div class="form-group text-left">
                        <label for="nombre">Confirme su contraseña:</label>

                        <input type="password" class="form-control" formControlName="ConfirmPasswordUsuario" autocomplete="off">
                        <!--<small id="ayuda-nombre" class="form-text text-muted">Ingrese su USUARIO</small>-->
                    </div>

                    <div class="form-group">
                        <button (click)= "onSubmit()" class="btn btn-primary btn-block" type="submit" style="background-color: rgba(255,165,85,0.75);font-weight: normal;">Enviar</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</section>