<nav id="menu-navegacion" class="navbar navbar-dark bg-secondary navbar-expand-md" style="z-index: 100;">
  <div class="container">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal"
      aria-expanded="false" aria-label="Botón Menú principal">
      <span class="boton-menu"></span>
    </button>
    <!-- <a href="#" class="btn btn-primary order-md-1">Reservar una cita</a> -->

    

    <div class="collapse navbar-collapse" id="menu-principal">
      <ul class="navbar-nav mt-3 mt-md-0">
        <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#barra-contacto" class="nav-link active">Inicio</a>
        </li>
        <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#bienvenidos" class="nav-link">Especialidades</a>
        </li>
        <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#premios" class="nav-link">Staff Médico</a></li>
        <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#nuestra-app" class="nav-link">La Clínica</a>
        </li>
        <!-- <li class="nav-item mb-1 mb-md-0 mr-md-0"><a href="#contacto" class="nav-link">Contáctenos</a></li> -->
      </ul>

      <div class="btn-group order-md-1">
        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Portal del Paciente
        </button>
        <div class="dropdown-menu" style="width: 100%;">
          <a *ngIf="token != null" class="dropdown-item" routerLink="/programar/0">Programar cita</a>
          <a *ngIf="token != null" class="dropdown-item" href="/citas">Reprogramar cita</a>
          <a *ngIf="token != null" class="dropdown-item" href="/citas">Pago</a>
          <div class="dropdown-divider"></div>
          <a *ngIf="token != null" class="dropdown-item" routerLink="/logout">Cerrar Sesion</a>
  
          <a *ngIf="token == null" class="dropdown-item" routerLink="/login">Ingresar</a>
        </div>
      </div>

      <div class="order-md-1" style="margin-left: 30px;">
        <ul class="nav navbar-nav ml-auto text-uppercase">
          <li *ngIf="token != null" class="nav-item" role="presentation">
            <a style="color: #ffffff;">Bienvenido: {{ user }}</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<section style="min-height:820px;">
  <router-outlet></router-outlet>
</section>