<!-- Sección #te-ayudamos -->
<section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax
data-speed="0.6">
<picture class="jarallax-img">
    <source media="(min-width:1200px)" srcset="/assets/images/fondo-BG_Staff-app-xl.jpg">
    <source media="(min-width:768px)" srcset="/assets/images/fondo-descargar-app-md.jpg">
    <img srcset="/assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
</picture>

<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <h2 class="display-4 font-weight-bold">STAFF MÉDICO</h2>
            <p>Más de 200 médicos de distintas especialidades, más 300 entre enfermeras, técnicas en enfermería, personal administrativo y demás colaboradores dispuestos a atenderlo.</p>
            <!--<a href="#" class="btn btn-primary">Reservar una cita</a>-->
        </div>
    </div>
</div>
</section>




<!-- Seccion #premios -->
<section id="bienvenidos" class="py-5">

<div class="container">
    <div class="row">
        <!--<div class="col-12 col-lg-6 text-center">

            <div class="contenedor-video d-inline-block position-relative text-truncate">

                <img src="images/fondo-video.jpg" alt="Imagen del video promocional del Sitio"
                    class="img-fluid">
                <a href="https://www.youtube.com/watch?v=XbjaxQy08m0" class="venobox-video" data-vbtype="video"
                    title="Bienvenidos a nuestro sitio web."><i class="fas fa-play"></i></a>

            </div>

        </div>-->
        
        <div class="col-12 text-center text-lg-center">
            <h2 class="display-4 font-weight-bold text-secondary  mt-lg-n2">
                Nuestros <span class="text-primary">FUNDADORES</span>
            </h2>
            <!--<h6 class="text-black-50">SOMOS PARTE DE TÍ</h6>-->
            
              <div class="container">
              <div class="row">
                <div class="col">
                      <img src="/assets/images/Dr-Abraham-Alvarado-Hinojosa_Especialidad-en-GastroentelogiaON.jpg" class="img-fluid" alt="Responsive image">
                    <h5 align="center">Dr. Abraham Alvarado Hinojosa</h5>
                    <h6 align="center">Especialidad en Gastroentelogia</h6>
                </div>
                  
                <div class="col">
                  <img src="/assets/images/Dra_Isabel-Tello_Servicio-de-PediatríaON.jpg" class="img-fluid" alt="Responsive image">
                    <h5 align="center">Dra. Isabel Tello</h5>
                    <h6 align="center">Servicio de Pediatría</h6>
                </div>
                  
                <div class="col">
                  <img src="/assets/images/Servicio-de-Rayos-X_Dr-Robert-AliagaOn.jpg" class="img-fluid" alt="Responsive image">
                    <h5 align="center">Dr. Robert Aliaga</h5>
                    <h6 align="center">Servicio de Rayos X</h6>
                </div>
              </div>
            </div>
            
            
            <div class="container espaciosContenedor">
              <div class="row">
                <div class="col">
                      <img src="/assets/images/Doctora-Bertha-Gonzales_Servicio-de-CardiologíaON.jpg" class="img-fluid" alt="Responsive image">
                    <h5 align="center">Dr. Abraham Alvarado Hinojosa</h5>
                    <h6 align="center">Especialidad en Gastroentelogia</h6>
                </div>
                  
                <div class="col">
                  <img src="/assets/images/Dra-Gloria-Vega-Gonzales-siempre-alerta-en-el-servicio-de-EmergenciaON.jpg" class="img-fluid" alt="Responsive image">
                    <h5 align="center">Dra. Isabel Tello</h5>
                    <h6 align="center">Servicio de Pediatría</h6>
                </div>
                  
                <div class="col">
                  <img src="/assets/images/Dra-Anita-Tarco-Servicio-de-EndocrinologíaON.jpg" class="img-fluid" alt="Responsive image">
                    <h5 align="center">Dr. Robert Aliaga</h5>
                    <h6 align="center">Servicio de Rayos X</h6>
                </div>
              </div>
            </div>
              
            
            
        </div>				
        
    </div>
    
    
      
    
    
</div>
</section>

    <!-- Sección Mas de 200 profesionales -->
    <section id="nuestra-app" class="bg-secondary py-5 text-white text-center text-md-left jarallax" data-jarallax
        data-speed="0.6">
        <picture class="jarallax-img">
            <source media="(min-width:1200px)" srcset="/assets/images/fondo-laClinica1-app-xl.jpg">
            <source media="(min-width:768px)" srcset="/assets/images/fondo-descargar-app-md.jpg">
            <img srcset="/assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
        </picture>

        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-12">                  
                  <h2 class="h1 font-weight-bold misEstilos">«Estén siempre dispuestas a hacer cualquier sacrificio por amor al enfermo». </h2>
                </div>
            </div>
        </div>
    </section>
