    <!-- Sección #te-ayudamos -->
	 <section id="nuestra-app" class="bg-secondary py-5 text-white text-center jarallax" data-jarallax
        data-speed="0.6">
        <picture class="jarallax-img">
            <source media="(min-width:1200px)" srcset="/assets/images/fondo-descargar-app-xl.jpg">
            <source media="(min-width:768px)" srcset="/assets/images/fondo-descargar-app-md.jpg">
            <img srcset="/assets/images/fondo-descargar-app.jpg" alt="Fondo Nuestra App" class="w-100">
        </picture>

        <div class="container">
            <div class="row py-5">
                <div class="col-12">
                    <h2 class="display-4 font-weight-bold">SOLICITUD DE PRESUPUESTO PARA PROCEDIMIENTO MÉDICO</h2>
                    <p>A continuación, ingrese sus datos</p>
                    <!--<a href="#" class="btn btn-primary">Reservar una cita</a>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion #Trabaja con nosotros-->
        <div class="container">
            <div class="row py-5">

                <div class="col-12 col-lg-6">
                    <img src="/assets/images/presupuesto_2.png" >

                </div>

                <div class="col-12 col-lg-6 pt-4 pt-lg-0">
                    
                    <form action="#" id="mi-formulario">

                        <!-- Campo #nombre -->
                        <div class="form-group form-row">
                            <label for="nombre" class="col-form-label col-12 col-md-3">Nombres y apellidos:</label>
                            <div class="col-12 col-md-9">
                                <input type="text" class="form-control" name="nombre" id="nombre"
                                    placeholder="Ingrese sus nombres y apellidos" data-parsley-required
                                    data-parsley-required-message="Este campo no puede estar vacio.">
                            </div>
                        </div>
						
						
						<!-- Campo #DNI -->
                        <div class="form-group form-row">
                            <label for="email" class="col-form-label col-12 col-md-3">DNI:</label>
                            <div class="col-12 col-md-9">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Ingrese su DNI" data-parsley-required data-parsley-type="email"
                                    data-parsley-required-message="Este campo no puede estar vacio."
                                    data-parsley-type-message="Ingrese un email en un formato válido.">
                            </div>
                        </div>
						
						
						<!-- Campo #edad -->
                        <div class="form-group form-row">
                            <label for="email" class="col-form-label col-12 col-md-3">Edad:</label>
                            <div class="col-12 col-md-9">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Ingrese su edad" data-parsley-required data-parsley-type="email"
                                    data-parsley-required-message="Este campo no puede estar vacio."
                                    data-parsley-type-message="Ingrese un email en un formato válido.">
                            </div>
                        </div>
						

                        <!-- Campo #email -->
                        <div class="form-group form-row">
                            <label for="email" class="col-form-label col-12 col-md-3">Email:</label>
                            <div class="col-12 col-md-9">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Ingrese su email" data-parsley-required data-parsley-type="email"
                                    data-parsley-required-message="Este campo no puede estar vacio."
                                    data-parsley-type-message="Ingrese un email en un formato válido.">
                            </div>
                        </div>

                        <!-- Campo #celular -->
                        <div class="form-group form-row">
                            <label for="celular" class="col-form-label col-12 col-md-3">Celular:</label>
                            <div class="col-12 col-md-9">
                                <input type="text" class="form-control" name="celular" id="celular"
                                    placeholder="Ingrese su número de celular" data-parsley-required data-parsley-length="[5, 20]"
                                    data-parsley-required-message="Este campo no puede estar vacio."
                                    data-parsley-length-message="El número telefónico debe tener entre 5 a 20 letras.">
                            </div>
                        </div>
						
						
						<!--Especialidad-->
                        <div class="form-group form-row">
                            <label for="celular" class="col-form-label col-12 col-md-3">Procedimiento Medico:</label>
                            
							<div class="col-12 col-md-9">
                                <select class="form-select" aria-label="Default select example">						
								  <option selected>Seleccionar</option>
								  <option value="1">One</option>
								  <option value="2">Two</option>
								  <option value="3">Three</option>
								</select>
                            </div>
                        </div>
						
						
						<!--Compañia de seguro-->
                        <div class="form-group form-row">
                            <label for="celular" class="col-form-label col-12 col-md-3">Compañia de seguro</label>
                            
							<div class="col-12 col-md-9">
                                <select class="form-select" aria-label="Default select example">						
								  <option selected>Seleccionar</option>
								  <option value="1">One</option>
								  <option value="2">Two</option>
								  <option value="3">Three</option>
								</select>
                            </div>
                        </div>
						
						
                        <!-- Campo #mensaje -->
                        <div class="form-group form-row">
                            <label for="mensage" class="col-form-label col-12 col-md-3">Mensage:</label>
                            <div class="col-12 col-md-9">
                                <textarea name="mensage" id="mensage" rows="4" class="form-control"
                                    placeholder="Ingrese su mensage." data-parsley-required
                                    data-parsley-required-message="Este campo no puede estar vacio."></textarea>
                            </div>
                        </div>

                        

                        <!-- Campo Enviar -->
                        <div class="form-group form-row">
                            <div class="col-12 col-md-9 offset-md-3">
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    
   











    


